extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/api/oauth/logout") Logout

  p Hi, #{userName}
  p OID: #{oid}


  //- div#roomWrapper
  //-   each message in messages
  //-     div= message.by
  //-     div= message.content
  //-   else 
  //-     div nothing


  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/socket.js")